# Core dependencies
# Add your runtime dependencies here

# Build dependencies
build>=1.0.0

# app ependencies
dbzero==0.2.4
boto3==1.42.71
pydantic==2.12.5
pydantic-settings==2.12.0
httpx==0.28.1
nest_asyncio==1.6.0
nicegui==2.24.2
markdown2==2.5.4
weasyprint==68.1
